In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import os

### Importing Datasets



*   `users`: Contains user data
* `products`: Contains product data
* `orders`: Contains order data
* `order_items`: Contains order items data
* `us_events`: Contains all US events data

In [5]:
users = pd.read_csv('https://raw.githubusercontent.com/ardahk/amex/main/data/users.csv')
products = pd.read_csv('https://raw.githubusercontent.com/ardahk/amex/main/data/products.csv')
orders = pd.read_csv('https://raw.githubusercontent.com/ardahk/amex/main/data/orders.csv')
order_items = pd.read_csv('https://raw.githubusercontent.com/ardahk/amex/main/data/order_items.csv')

Since the events dataset was too big to import as one file, it was split into 5 individual files and then concatenated.

In [6]:
US_0 = pd.read_csv('https://raw.githubusercontent.com/ardahk/amex/main/data/US_events_0.csv')
US_1 = pd.read_csv('https://raw.githubusercontent.com/ardahk/amex/main/data/US_events_1.csv')
US_2 = pd.read_csv('https://raw.githubusercontent.com/ardahk/amex/main/data/US_events_2.csv')
US_3 = pd.read_csv('https://raw.githubusercontent.com/ardahk/amex/main/data/US_events_3.csv')
US_4 = pd.read_csv('https://raw.githubusercontent.com/ardahk/amex/main/data/US_events_4.csv')
US_5 = pd.read_csv('https://raw.githubusercontent.com/ardahk/amex/main/data/US_events_5.csv')

In [10]:
events = pd.concat([US_0, US_1, US_2, US_3, US_4, US_5], ignore_index=True)

In [13]:
print(f"Users:{users.shape}")
print(f"Products:{products.shape}")
print(f"Orders:{orders.shape}")
print(f"Order_Items:{order_items.shape}")
print(f"Events:{events.shape}")

Users:(100000, 15)
Products:(29120, 9)
Orders:(125226, 9)
Order_Items:(181759, 11)
Events:(541963, 13)

### Data Understanding

In [18]:
orders.head()

,order_id,user_id,status,gender,created_at,returned_at,shipped_at,delivered_at,num_of_item
0,8,5,Cancelled,F,2022-10-20 10:03:00+00:00,NaN,NaN,NaN,3
1,60,44,Cancelled,F,2023-01-20 02:12:00+00:00,NaN,NaN,NaN,1
2,64,46,Cancelled,F,2021-12-06 09:11:00+00:00,NaN,NaN,NaN,1
3,89,65,Cancelled,F,2020-08-13 09:58:00+00:00,NaN,NaN,NaN,1
4,102,76,Cancelled,F,2023-01-17 08:17:00+00:00,NaN,NaN,NaN,2

In [19]:
events.head()

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
0,2244720,NaN,3,9cadf286-9b30-459e-9a57-14fc2dac8cc9,2022-06-19 12:07:00+00:00,3.149.42.105,New York,New York,10023,Chrome,Adwords,/cancel,cancel
1,1347063,NaN,3,84ae95f4-d7cd-4bde-a003-21d305b2e824,2023-10-11 01:41:00+00:00,68.124.172.198,New York,New York,10306,Firefox,Email,/cancel,cancel
2,1670844,NaN,3,94c3d822-49e6-4fb7-8ed7-713667f99d68,2021-03-18 19:20:00+00:00,177.217.215.96,New York,New York,10457,Chrome,YouTube,/cancel,cancel
3,2007823,NaN,3,4c248995-3e0b-41b5-a81a-2705279aeab9,2023-09-26 08:45:00+00:00,37.255.80.241,New York,New York,10457,Firefox,Adwords,/cancel,cancel
4,1517051,NaN,3,36b7879c-523f-4ec8-9a90-d1ac9fae1166,2022-04-19 08:36:00+00:00,76.11.158.90,New York,New York,10469,Other,Adwords,/cancel,cancel