## Preparing the cleaned data for model training (Demo)

Process Overview:
1. Separating us_events into browsing and purchase
2. Merging purchase  with orders_users_products
3. Performing one-hot-encoding/normalization of features where necessary
4. Performing high level analysis on both datasets to evaluate their fitness for use in model training
5. Making recommendations for model use

In [2]:
#Importing the necessary libraries
import pandas as pd
import os

In [8]:
#Reading in the datasets
filename = os.path.join(os.getcwd(), "clean_data", "us_events.csv")
us_events = pd.read_csv(filename)

filename = os.path.join(os.getcwd(), "clean_data", "orders_users_products.csv")
orders_users_products = pd.read_csv(filename)

In [5]:
#Checking if they were imported correctly
print(us_events.shape)
print(orders_users_products.shape)

(40513, 9)
(38152, 22)

In [9]:
us_events.head()

,id,user_id,sequence_number,created_at,state,postal_code,browser,traffic_source,event_type
0,276386,21148.0,5,2021-11-01 08:13:46+00:00,New York,10009,Chrome,Email,purchase
1,903745,69070.0,10,2023-02-17 09:24:58+00:00,New York,10009,Safari,Adwords,purchase
2,707607,54080.0,7,2023-09-10 11:13:08+00:00,New York,10012,Firefox,Email,purchase
3,161771,12535.0,7,2023-12-29 02:38:30+00:00,New York,10016,Firefox,Email,purchase
4,368472,28182.0,7,2020-09-23 08:39:16+00:00,New York,10029,Safari,Organic,purchase

In [15]:
#Separating us_events into browsing and purchase
us_events['event_type'].unique()

#browsing = us_events[us_events['event_type'] != 'purchase']
#purchase = us_events[us_events['event_type'] == 'purchase']

array(['purchase'], dtype=object)